.container-fluid{
    margin: 0em;
    padding: 0em;
}

.navbar-brand{
    margin: .5em;
}

.colorfila1{
    background-color: rgb(33,37,41);
    height: 5em;
}
.cupcake{
    width: 2em;
    height: 2em;
    background-color: whitesmoke;
    border-radius: .4em;
    padding: .2em;
 
}

.colorfila3{

    height: 40em;
    
}

.card-title-carta{
   
   

   font-size: 4em 1vw;
}
 
 